@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{
    --primaria: #38b6ff;
    --textcolor: #FBFAFB;
    --segundaria: #1c1c25;
    --terciaria: #246EB9;
    --quarta: #CAE5FF;
    --cinza: #484854;
    --estrelas: #FFD700;
}   
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    height:9000px;
    background-color: var(--textcolor);
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    z-index: 9999;
    box-shadow: 0 10px 100px rgba(255, 255, 255, 0.507);

    width: 100%;
    top: 0;
    background-color: var(--textcolor);
    padding: 0 20px;
    
}
.cabecalho-container {
    max-width: 1250px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza o conteúdo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.cabecalho img{
    height: 70px;
    width: auto;
}
.cabecalho a{
    margin-right: 70px;
    font-size: 2vh;
    text-decoration: none;
    color: var(--segundaria);
    font-weight: bold;
}
.cabecalho button {
    padding: 1.5vh;
    border: none;
    border-radius: 1.5vh;
    width: 13vh;
    color: var(--textcolor);
    background: linear-gradient(100deg, var(--terciaria), var(--primaria));
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 0.5s ease;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5vh;
}
.cabecalho button:hover {
    background-position: right;
}
.cabecalho a:hover{
    border-bottom: 0.4vh solid var(--primaria);
}
.container-central {
    max-width: 141.72338090010976vh;
    margin: 0 auto;
    padding: 0 2.1953896816684964vh;
}
  
.conteudo {
    background: linear-gradient(100deg, var(--terciaria), var(--primaria)); /* azul de fundo */
    width: 100%;
    padding: 4vh 0;
}
  
.conteudo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}
  
.banner {
    max-width: 65vh;
} 
.textobotao {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    gap: 1.5vh; /* Espaçamento entre o botão e o texto */
}
  
.experimente{
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: 165px;
    font-size: 16px;
    color: var(--textcolor);
    border: 2px solid var(--textcolor);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
.experimente::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--textcolor);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
   
  }
.experimente:hover::before {
    scale: 3;
    
  }
.experimente:hover {
    color: var(--segundaria);
    scale: 1.1;
    
  }
.experimente:active {
    scale: 1;
  }

  .spantextIA{
    color: var(--segundaria);
  }

.conteudo h1{
    font-size: 5.5vh;
    margin-bottom: 0.4vh;
    color: var(--textcolor);
}
.conteudo p{
    font-size: 1.7vh;
    margin-bottom: 0.5vh;
    color: var(--textcolor);
}
.conteudo img{
    height: 55vh;
    width: 75vh;
    box-shadow: 0.5vh 0.5vh 3vh var(--segundaria);
}

.textobotao p{
    margin-top: 30px;
    max-width: 25vh;
    font-size: 1.4vh;
    font-weight: bold;
}
.tradutorspan{
    color: var(--textcolor);
}
.efeitocirculo{
    width: 100%;
    height: 12vh;
}
.porqueutilizar h2{
    text-align: center;
    color: var(--segundaria);
    margin-bottom: 5vh;
    font-size: 3.5vh;
}
.spanSENAIS{
    background: linear-gradient(100deg, var(--terciaria), var(--primaria)); /* azul de fundo */
    background-clip: text;
    color: transparent;
}
.porqueutilizar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 5vh;   
    gap: 10vh;
}
.porqueutilizar li{
    max-width: 100%;
    text-align: center;
}
.porqueutilizar i{
    font-size: 14vh;
    background: linear-gradient(100deg, var(--terciaria), var(--primaria)); /* azul de fundo */
    background-clip: text;
    color: transparent;
    margin-bottom: 3vh;
}
.porqueutilizar p{
    text-align: justify;
    margin-top: 0.7vh;
    font-size: 1.8vh;
}
.porqueutilizar h3{
    color: var(--segundaria);
    font-size: 2.5vh;
}
.porqueutilizar{
    margin-bottom: 15vh;
}
.sobrenos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
    align-items: center;
    gap: 10vh;
}
.sobrenos img{
    height: 54.88474204171241vh;
    width: 54.88474204171241vh;
}
.sobrenos .textosobrenos{
    flex-direction: column;
    align-items: flex-end;
}
.sobrenos h2{
    font-size: 4.6vh;
    color: var(--segundaria);
    max-width: 100%;
}
.sobrenos p{
    text-align: justify;
    font-size: 2.2vh;
    margin-top: 1vh;
    max-width: 100vh;
}
.spansobrenos{
    color: var(--terciaria);
    font-weight: bold;
}
.proposito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
}
.proposito img{
    height: 54.88474204171241vh;
    width: 54.88474204171241vh;
}
.proposito .textoproposito{
    flex-direction: column;
    align-items: flex-end;
}

.proposito h2{
    font-size: 4.6vh;
    color: var(--segundaria);
    max-width: 100%;
}
.proposito p{
    text-align: justify;
    font-size: 2.2vh;
    margin-top: 1vh;
    max-width: 100vh;
}  

.porqueutilizar {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.porqueutilizar.visible {
    opacity: 1;
    transform: translateY(0);
}
.sobrenos{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.sobrenos.visible{
    opacity: 1;
    transform: translateY(0);
}
.proposito{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.proposito.visible{
    opacity: 1;
    transform: translateY(0);
}
.linhadiv{
    margin-top: 7vh;
    border-color: var(--cinza);
    margin-bottom: 3vh;
}
.linhadiv{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.linhadiv.visible{
    opacity: 1;
    transform: translateY(0);
}

.cursosSENAIS{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.cursosSENAIS.visible{
    opacity: 1;
    transform: translateY(0);
}
.feedback{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.feedback.visible{
    opacity: 1;
    transform: translateY(0);
}
.efeitocirculo{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.efeitocirculo.visible{
    opacity: 1;
    transform: translateY(0);
}
.conteudoFAQS{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.conteudoFAQS.visible{
    opacity: 1;
    transform: translateY(0);
}
.container-utilizarIA{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.container-utilizarIA.visible{
    opacity: 1;
    transform: translateY(0);
}
.titulosectioncursos{
    margin-bottom: 5vh;
    text-align: center;

}

.cursos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6vh;
    overflow: visible;
    margin-bottom: 10vh;
}
.cursosSENAIS h2{
    font-size: 30.52px;
    color: var(--segundaria);
}
.containercursos {
    position: relative;
    overflow: hidden;
    width: 30vh;
    height: 60vh;
    color: var(--textcolor);
    border-radius: 3vh;
    box-shadow: 0 0 0.5vh var(--segundaria);
    transition: transform 0.3s;
}
#primeiro{
    background-image: url(/img/curso1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#segundo{
    background-image: url(/img/curso2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#terceiro{
    background-image: url(/img/curso3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#quarto{
    background-image: url(/img/curso4.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.containercursos p {
    padding: 2vh;
    font-size: 1.5vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* camada escura */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 2vh;
    text-align: center;
}

.containercursos:hover .overlay{
    opacity: 1;
}

.overlay button {
    margin-top: 1.5vh;
    padding: 1vh 2vh;
    border: none;
    border-radius: 1vh;
    background-color: var(--terciaria);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5vh;
    transition: 0.5s;
}
.overlay button:hover{
    background-color: var(--primaria);
}
.feedback{
    background: linear-gradient(100deg, var(--terciaria), var(--primaria)); /* azul de fundo */
    width: 100%;
    height: 70vh;
    margin-top: -0.7vh;
}
.feedback h2{
    text-align: center;
    font-size: 35px;
    color: var(--textcolor);
    opacity: 1;
    padding-top: 6vh;
    margin-bottom: 60px;
}
.avaliacoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    gap: 200px;
}
.avaliacao {
    font-size: 3vh;
    display: flex;
    background-color: var(--textcolor);
    width: 60vh;
    height: 40vh;
    position: relative;
    padding: 40px;
    flex-direction: column;
    box-shadow: 0 0 15px var(--segundaria);
    border-radius: 10px;

  }
.estrelas{
  font-size: 25px;
  color: var(--estrelas)
}
.avaliacao p{
    margin-top: 15px;
    text-align:left;
    font-size: 1.7vh;
}
.usuario img{
    border-radius: 100%;
    width: 65px;
    height: 65px;
    border: 2px solid black;
}
.usuario{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    margin: auto 0 0;
    margin-bottom: 15px;
}
.usuario p {
    font-size: 17px;
    margin-bottom: -7px;
    font-weight: bold;
}
.usuario span{
    font-size: 14px;
}
.FAQS{
    background-color: black;
}
.container-FAQS{
    background-image: url(/img/bundleFAQS\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    width: 100%;
}
.conteudoFAQS {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120vh; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza o container */
    padding: 0 2vh; /* Adiciona espaçamento interno */
}
.textoFAQS{
    color: white;
    text-align: center;

}
.textoFAQS h2{
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 80px;
}
.textoFAQS p{
    font-size: 17px;
    margin-bottom: 30px;
    max-width: 900px;
  
}
.container-utilizarIA {
    height: 520px;
    width: 100%;
    background: linear-gradient(100deg, var(--terciaria), var(--primaria));
    margin-top: -7px;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Garante espaço entre os elementos */
    gap: 450px;
    padding-right: 80px;
}

.personagem-esquerda img{
    margin-top: 27px;
    height: 500px;
    width: 500px;
}
.personagem-direita img{
    margin-top: 57px;
    height: 470px;
    width: 470px;
}
.textoIA{
    color: var(--textcolor);
    text-align: center;
    max-width: 740px;
    position: absolute;
}
.textoIA h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.botaoIA{
    margin: 0 auto;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: 165px;
    font-size: 16px;
    color: var(--textcolor);
    border: 2px solid var(--textcolor);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  .botaoIA::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--textcolor);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
   
  }
  .botaoIA:hover::before {
    scale: 3;
    
  }
  .botaoIA:hover {
    color: var(--segundaria);
    scale: 1.1;
    
  }
  .botaoIA:active {
    scale: 1;
  }

  .botaocursos{
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: 165px;
    font-size: 16px;
    color: var(--textcolor);
    border: 2px solid var(--textcolor);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  .botaocursos::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--textcolor);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
   
  }
  .botaocursos:hover::before {
    scale: 3;
    
  }
  .botaocursos:hover {
    color: var(--segundaria);
    scale: 1.1;
    
  }
  .botaocursos:active {
    scale: 1;
  }

  .spantextIA{
    color: var(--segundaria);
  }
  #scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: var(--segundaria);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--textcolor);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#scrollTopBtn.show {
    display: flex;
    opacity: 1;
}

.container-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 5vh;
    gap: 100px;
}
.textoformulario{
    color: var(--segundaria);
    text-align: center;
    position: relative;
}
.textoformulario h2{
    font-size: 40px;
    margin-bottom: 35px;
    z-index: 999;
    max-width: 900px;
    position: relative;
}
.textoformulario p{
    font-size: 21px;
    margin-bottom: 30px;
    max-width: 900px;
    position: relative;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--textcolor);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--segundaria);
    height: 700px;
    width: 550px;
    text-align: center;
    background: linear-gradient(100deg, var(--terciaria), var(--primaria)); /* azul de fundo */
    position: relative;
}
.formulario input{
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 5px var(--segundaria);
}
.formulario input:focus{
    outline: none;
    border: 2px solid var(--segundaria);
}
.formulario h3{
    color: var(--textcolor);
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.formulario textarea{
    width: 500px;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 5px var(--segundaria);
    resize: none;
}

.formulario button{
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    width: 130px;
    font-size: 16px;
    color: var(--textcolor);
    border: 2px solid var(--textcolor);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin-right: 20px;
    margin-left: 20px;
  }
  .formulario button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 45px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--textcolor);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
   
  }
  .formulario button:hover::before {
    scale: 3;
    
  }
  .formulario button:hover {
    color: var(--segundaria);
    scale: 1.1;
    
  }
  .formulario button:active {
    scale: 1;
  }
  .textoformulario img {
    position: absolute; /* Posiciona a gosma de forma absoluta */
    bottom: -130px; /* Ajuste para posicionar abaixo do texto */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o alinhamento central */
    z-index: 0; /* Garante que a gosma fique atrás do texto */
    width: 100%; /* Ajuste o tamanho conforme necessário */
    max-width: 600px; /* Limita a largura máxima */
    opacity: 0.8; /* Opcional: ajusta a transparência */
    height: 700px;
    width: 800px;
}







